@media (min-width: 200px) {
    /* Header */
    .logo {
        width: 130px;
        height: 120px;
    }

    .logo_mobile {
        width: 70px;
        height: 60px;
    }

    /* Home */
    .txt_slide_home {

        color: $negro;

        h3 {
            font-size: 0.7rem;
        }

        p {
            font-size: 0.6rem;
        }
    }

    /* Líneas */
    .li_station {
        font-size: 0.7rem;
    }

    .line_symbol {
        font-size: 0.6rem;
    }

    .txt_xl, .txt_xs {
        display: none;
    }

    .estacionInicialFinal_txtMobile {
        font-size: 0.45rem;
    }

    /* Detalles Estación */
    h2.linea_1 {
        span.linea_1 {
            font-size: 1rem;
        }
    }

    h2.linea_2 {
        span.linea_2 {
            font-size: 1rem;
        }
    }

    h2.linea_3 {
        span.linea_3 {
            font-size: 1rem;
        }
    }

    h2.linea_4 {
        span.linea_4 {
            font-size: 1rem;
        }
    }

    h2.linea_4A {
        span.linea_4A {
            font-size: 1rem;
        }
    }

    h2.linea_5 {
        span.linea_5 {
            font-size: 1rem;
        }
    }

    h2.linea_6 {
        span.linea_6 {
            font-size: 1rem;
        }
    }

    .color_combinacion {
        font-size: 1rem;
    }

    .imgSlideDatailtsStation {
        width: 160px;
        height: 160px;
    }
}

@media (min-width: 222px) {
    
    /* Listado */
    .estacionInicialFinal_txtMobile {
        font-size: 0.5rem;
    }

    /* Detalles Estación */
    .imgSlideDatailtsStation {
        width: 170px;
        height: 170px;
    }
}

@media (min-width: 240px) {
   
    /* Líneas */
    .li_station {
        font-size: 0.8rem;
    }

    .line_symbol {
        font-size: 0.7rem;
    }

    .estacionInicialFinal_txtMobile {
        font-size: 0.55rem;
    }

    /* Detalles Estación */
    .imgSlideDatailtsStation {
        width: 180px;
        height: 180px;
    }

}


@media (min-width: 280px) {
    /* Home */
    .txt_slide_home {
        h3 {
            font-size: 0.75rem;
        }

        p {
            font-size: 0.65rem;
        }
    }
    
    /* Listado */
    .estacionInicialFinal_txtMobile {
        font-size: 0.6rem;
    }

    /* Detalles Estación */
    h2.linea_1 {
        span.linea_1 {
            font-size: 1.4rem;
        }
    }

    h2.linea_2 {
        span.linea_2 {
            font-size: 1.4rem;
        }
    }

    h2.linea_3 {
        span.linea_3 {
            font-size: 1.4rem;
        }
    }

    h2.linea_4 {
        span.linea_4 {
            font-size: 1.4rem;
        }
    }

    h2.linea_4A {
        span.linea_4A {
            font-size: 1.4rem;
        }
    }

    h2.linea_5 {
        span.linea_5 {
            font-size: 1.4rem;
        }
    }

    h2.linea_6 {
        span.linea_6 {
            font-size: 1.4rem;
        }
    }

    .color_combinacion {
        font-size: 1.2rem;
    }

    
    .imgSlideDatailtsStation {
        width: 200px;
        height: 200px;
    }
}

@media (min-width: 350px) {

    /* Home */
    .txt_slide_home {
        h3 {
            font-size: 0.8rem;
        }

        p {
            font-size: 0.7rem;
        }
    }
    
    /* Listado */
    .txt_xs {
        display: inline;
    }
    
    .estacionInicialFinal_txtMobile {
        font-size: 0.65rem;
    }
}

@media (min-width: 400px) {
    /* Home */
    .txt_slide_small {
        font-size: 1rem;
    }

    /* Listado */
    .li_station {
        font-size: 1rem;
    }

    .line_symbol {
        font-size: 0.9rem;
    }

    .estacionInicialFinal_txtMobile {
        font-size: 0.7rem;
    }
}

@media (min-width: 450px) {
    /* Home */
    .txt_slide_home {
        h3 {
            font-size: 0.8rem;
        }

        p {
            font-size: 0.7rem;
        }
    }

    /* Listado */
    

    .estacionInicialFinal_txtMobile {
        font-size: 0.8rem;
    }
}

@media (min-width: 500px) {
    
}


@media (min-width: 576px) {
    /* Home */
    .txt_slide_home {
        h3 {
            font-size: 0.9rem;
        }

        p {
            font-size: 0.8rem;
        }
    }

    /* Detalles Estación */
    h2.linea_1 {
        span.linea_1 {
            font-size: 1.6rem;
        }
    }

    h2.linea_2 {
        span.linea_2 {
            font-size: 1.6rem;
        }
    }

    h2.linea_3 {
        span.linea_3 {
            font-size: 1.6rem;
        }
    }

    h2.linea_4 {
        span.linea_4 {
            font-size: 1.6rem;
        }
    }

    h2.linea_4A {
        span.linea_4A {
            font-size: 1.6rem;
        }
    }

    h2.linea_5 {
        span.linea_5 {
            font-size: 1.6rem;
        }
    }

    h2.linea_6 {
        span.linea_6 {
            font-size: 1.6rem;
        }
    }


}

@media (min-width: 768px) {
    /* Home */
    .txt_slide_home {
        h3 {
            font-size: 1rem;
        }

        p {
            font-size: 0.9rem;
        }
    }

    /* Líneas */
    .li_station {
        font-size: 1rem;
    }

    .line_symbol {
        font-size: 0.9rem;
    }

    .estacionInicialFinal_txtMobile {
        font-size: 0.9rem;
    }

    /* Detalles Estación */
    h2.linea_1 {
        span.linea_1 {
            font-size: 1.8rem;
        }
    }

    h2.linea_2 {
        span.linea_2 {
            font-size: 1.8rem;
        }
    }

    h2.linea_3 {
        span.linea_3 {
            font-size: 1.8rem;
        }
    }

    h2.linea_4 {
        span.linea_4 {
            font-size: 1.8rem;
        }
    }

    h2.linea_4A {
        span.linea_4A {
            font-size: 1.8rem;
        }
    }

    h2.linea_5 {
        span.linea_5 {
            font-size: 1.8rem;
        }
    }

    h2.linea_6 {
        span.linea_6 {
            font-size: 1.8rem;
        }
    }

    
}

@media (min-width: 992px) {
    /* Header */
    .logo {
        width: 130px;
        height: 120px;
    }

    .nav-item a:hover {
        border-bottom: solid 2px $blanco; 
    }

    .nav__active {
        border-bottom: solid 2px $blanco !important;
    }

    /* Home */
    .txt_slide_home {
        h3 {
            font-size: 1.2rem;
        }

        p {
            font-size: 1rem;
        }
    }
}

@media (min-width: 1200px) {
    /* lineas */
    .txt_xl {
        display: inline;
    }
}