@media (min-width: 200px) {
    /* Header */
    .logo {
        width: 130px;
        height: 120px;
    }

    .logo_mobile {
        width: 70px;
        height: 60px;
    }

    /* Home */
    .txt_slide_small {
        font-size: 0.43rem;
    }

    
}

@media (min-width: 222px) {
    /* Home */
    .txt_slide_small {
        font-size: 0.55rem;
    }
}

@media (min-width: 240px) {
    /* Home */
    .txt_slide_small {
        font-size: 0.6rem;
    }
}

@media (min-width: 260px) {
    /* Home */
    .txt_slide_small {
        font-size: 0.7rem;
    }
}

@media (min-width: 280px) {
    /* Home */
    .txt_slide_small {
        font-size: 0.75rem;
    }
}

@media (min-width: 350px) {
    /* Home */
    .txt_slide_small {
        font-size: 0.85rem;
    }
}

@media (min-width: 400px) {
    /* Home */
    .txt_slide_small {
        font-size: 1rem;
    }
}

@media (min-width: 450px) {
    /* Home */
    .txt_slide_small {
        font-size: 1.2rem;
    }
}

@media (min-width: 992px) {
    /* Header */
    .logo {
        width: 130px;
        height: 120px;
    }

    .nav-item a:hover {
        border-bottom: solid 2px $blanco; 
    }

    .nav__active {
        border-bottom: solid 2px $blanco !important;
    }

    
}