@mixin transition_elements {
    transition: all 0.5s ease-out;
}

@mixin shadow_lines {
    box-shadow: $sombra_btn;
    -webkit-box-shadow: $sombra_btn; 
}

@mixin shadow_lines_hover($color) {
    box-shadow: 0px 0px 15px -1px $color;
    -webkit-box-shadow: 0px 0px 15px -1px $color;
}

@mixin marker_li_lines($color) {

    li::marker{
        color: $color;
        font-size: 1.5rem;
    }
}

@mixin line_symbol_station($color){
    background-color: $color;
    color: $blanco;
    padding: 0.2rem 0.4rem;
    -webkit-box-shadow: $sombra_symbol;
    box-shadow: $sombra_symbol;
}

@mixin line_symbol_comb($color){

    color: $color;
    font-size: 1.2rem;
    font-weight: bold;

    .color_combinacion {
        background-color: $color;
        color: $blanco;
        padding: 0.2rem 0.4rem;
        -webkit-box-shadow: $sombra_symbol;
        box-shadow: $sombra_symbol; 
    }
    
}

@mixin carouselArrows_comunasImg($color) {
    

}