$family: 'Open Sans', sans-serif;

$blanco: #fff;
$negro: #000;

$color_principal: #CF152D;
$color_secundario: #F3F4F4;

$color_l1: #E21313;
$color_l2: #F7941D;
$color_l3: #591F0B;
$color_l4: #292d91;
$color_l4A: #00ADEF;
$color_l5: #0C9344;
$color_l6: #943c93;

$sombra_nav: 0px 7px 15px -6px $negro;
$sombra_listElement: 0px 0px 15px -2px $negro;
$sombra_btn: 0px 0px 15px -4px $negro;
$sombra_input_search: -7px 0px 25px -15px $negro;
$sombra_btn_search: 12px 0px 25px -13px $negro;
$sombra_footer: 0px -7px 15px -6px $negro;