
h2.linea_1,h3.linea_1 {
    color: $color_l1;
}

h2.linea_2,h3.linea_2 {
    color: $color_l2;
}

h2.linea_3,h3.linea_3 {
    color: $color_l3;
}

h2.linea_4,h3.linea_4 {
    color: $color_l4;
}

h2.linea_4A,h3.linea_4A {
    color: $color_l4A;
}

h2.linea_5,h3.linea_5 {
    color: $color_l5;
}

h2.linea_6,h3.linea_6 {
    color: $color_l6;
}