.stationDetailsContainer.linea_1 {
    h2 {
        background-color: $color_l1;
    }
}

.stationDetailsContainer.linea_2 {
    h2 {
        background-color: $color_l2;
    }
}

.stationDetailsContainer.linea_3 {
    h2 {
        background-color: $color_l3;
    }
}

.stationDetailsContainer.linea_4 {
    h2 {
        background-color: $color_l4;
    }
}

.stationDetailsContainer.linea_4A {
    h2 {
        background-color: $color_l4A;
    }
}

.stationDetailsContainer.linea_5 {
    h2 {
        background-color: $color_l5;
    }
}

.stationDetailsContainer.linea_6 {
    h2 {
        background-color: $color_l6;
    }
}