@keyframes sliceHover_animation {
    0% { transform: translateY(0); }
    25% { transform: translateY(-7px); }
    50% { transform: translateY(0); }
    75% { transform: translateY(-7px); }
    100% { transform: translateY(0); }
}

h1 {
    text-shadow: 0px 0px 2px $negro;
}

.slide_home {
    cursor: pointer;
    -webkit-box-shadow: $sombra_btn;
    box-shadow: $sombra_btn;
    @include transition_elements();
}

.slide_home:hover {
    animation: sliceHover_animation 3s ease-out infinite;
    // background-color: red !important;
}